<template>
  <main class="wrap__postList">
    <h1>section title</h1>
    <section
      v-for="(article, index) in Object.keys(entries)"
      :key="index"
      class="group__post"
    >
      <h2>
        <strong>{{ article }}</strong>
      </h2>
      <article v-for="entry in entries[article]" :key="entry.id">
        {{ entry.id }}<br />
        {{ entry.date }}<br />
        {{ entry.title }}<br />
        {{ entry.content }}<br />
      </article>
    </section>
  </main>
</template>
<script>
import Entries from '@/assets/json/Entries.json';
export default {
  name: 'Home',
  computed: {
    entries() {
      return Entries;
    },
  },
};
</script>
